
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: auto;
}

.logo-img {
  margin-top: 22px;
}

/* APPARTMENTS SECTION */

.appartments-section {
  margin-top: 37px;
}

.stays-section {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.stays-section h3 {
  font-size: 18px;
  font-weight: 700;
}

.number-of-stays {
  color: #4F4F4F;
  font-size: 14px;
  font-weight: 500;
}

.appartments {

  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

/* FOOTER SECTION */

.footer {
  padding: 100px 0 26px;
}

.footer p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #828282;
  font-family: 'Montserrat', sans-serif;
}

.footer a {
  color: #828282;
}

.username {
  font-weight: 700;
}

/* MEDIA QUERIES FOR DESKTOP */

@media screen and (min-width: 1024px) {
  .container {
    width: 90%;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
  }
  .logo-img {
    margin-top: 0;
  }
  .search-section {
    margin-top: 0;
    display: flex;
    align-items: center;
    width: 25%;
  }
  .stays-section h3 {
    font-size: 24px;
  }
  .appartments {
    gap: 34px;
  }
}